@using NetBanking.Core.Application.ViewModels.Beneficiary;
@model List<BeneficiaryViewModel>;


<head>
    <link rel="stylesheet" href="~/css/tableadmin.css" />
    <script src="https://kit.fontawesome.com/7302c44b99.js" crossorigin="anonymous"></script>
</head>

<a class="btn btn-primary" asp-action="AddBeneficiary">Add Beneficiary</a>
@if (Model.Any())
{
    <div class="container-fluid">
        <div class="col-4 offset-4">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <td>
                            Beneficiario
                        </td>
                        <td>
                            Cuenta
                        </td>
                        <td>
                            Actions
                        </td>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.BeneficiaryUser.FirstName @item.BeneficiaryUser.LastName
                                    </td>
                                    <td>
                                        @item.BeneficiaryAccountId
                                    </td>
                                    <td>
                                        <a asp-route-id="@item.Id" asp-action="DeleteBeneficiary" class="btn btn-danger"><i class="fa-solid fa-user-minus"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="contenedor">
        <img src="~/Iconos/beneficiario (1).png" style="width: 80px; height: 80px;" />
        <h3 class="text-center text-light" style="margin-top: 10px;">No hay beneficiarios</h3>
    </div>
}


<style>
    .contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
</style>
