@using NetBanking.Core.Application.ViewModels.Users;
@model ForgorPasswordViewModel
@{
    ViewData["Title"] = "Olvide contrasenia";
}

<head>
    <script src="https://kit.fontawesome.com/7302c44b99.js" crossorigin="anonymous"></script>
</head>


<div class="container-fluid">

    <div class="row">
        <div class="col-4 offset-4">
            <div class="card shadow-lg border-2 ">
                <div class="card-header text-dark">
                    <h4>Olvide mi contrasenia</h4>
                </div>
                <div class="card-body">

                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <form method="post" asp-controller="User" asp-action="ForgotPassword">

                        <div class="mb-3">
                            <div class="input-group" style="margin-top: 15px;">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
                                <input type="text" asp-for="Email" class="form-control custom-form-element mx-auto" placeholder="Type in user email" required style="background-color: white; color: black; font-size: 20px;">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="User" asp-action="Index" class="btn btn-warning">Volver atras</a>

                    </form>

                </div>

            </div>
        </div>
    </div>
</div>


<style>
    .custom-btn-light {
        background-color: #ABB2B9;
        color: #333;
    }
</style>

<style>
    body {
        font-family: Arial, sans-serif;
        background: -webkit-linear-gradient(45deg, #012169 0%,#00709e 60%,#00c1d5 100%)
    }

    .heading-section {
        font-family: "Times New Roman", Times, serif;
    }

    .custom-form-element {
        width: 280px;
        height: 60px;
        font-size: 20px;
    }

        .custom-form-element:focus {
            border-bottom: 3px solid orange;
        }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const inputs = document.querySelectorAll('.custom-form-element');

        inputs.forEach(input => {
            input.addEventListener('focus', () => {
                input.classList.add('focused');
            });

            input.addEventListener('blur', () => {
                input.classList.remove('focused');
            });
        });
    });
</script>