@using NetBanking.Core.Application.Dtos.Account
@using NetBanking.Core.Application.ViewModels.Users;
@using NetBanking.Core.Application.Helpers;
@using NetBanking.Core.Application.Enums;
@model SaveUserViewModel

@{
    ViewData["Title"] = "Registro";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card" style="background-color: white;">
                <div class="card-header bg-info text-light text-center">
                    <h4>Registro de nuevo usuario</h4>
                </div>
                <div class="card-body">

                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    @if (Model.HasError)
                    {
                        <script>
                            Swal.fire({
                                icon: 'error',
                                title: 'Error!',
                                text: ' @Model.Error',
                                showConfirmButton: true,
                                timer: 5000
                            });
                        </script>
                    }
                    <form method="post" enctype="multipart/form-data" asp-controller="User" asp-action="Register">

                        <div class="mb-3">
                            <label asp-for="FirstName" class="form-label text-dark">Nombre: </label>
                            <input asp-for="FirstName" class="form-control" style="background-color: white; color: black;" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                       
                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label text-dark">Apellido: </label>
                            <input asp-for="LastName" class="form-control" style="background-color: white; color: black;" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="UserName" class="form-label text-dark">Nombre de usuario: </label>
                            <input asp-for="UserName" class="form-control" style="background-color: white; color: black;" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="IdCard" class="form-label text-dark">Cedula:</label>
                            <input asp-for="IdCard" class="form-control" style="background-color: white; color: black;" />
                            <span asp-validation-for="IdCard" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="PhoneNumber" class="form-label text-dark">Telefono: </label>
                            <input asp-for="PhoneNumber" class="form-control" style="background-color: white; color: black;" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label text-dark">Correo: </label>
                            <input asp-for="Email" class="form-control" style="background-color: white; color: black;" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>



                        <div class="mb-3">
                            <label asp-for="formFile" class="form-label text-dark">Upload a profile picture (optional): </label>
                            <input asp-for="formFile" class="form-control" style="background-color: white; color: black;" />
                            <span asp-validation-for="formFile" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <input asp-for="InitialAmount" value="0" class="form-control" type="hidden"/>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label text-dark">Contraseña: </label>
                            <input asp-for="Password" required class="form-control" style="background-color: white; color: black;" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label text-dark">Confirmar contraseña: </label>
                            <input asp-for="ConfirmPassword" required class="form-control" style="background-color: white; color: black;" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Registrarse</button>
                        <a asp-controller="User" asp-action="Index" class="btn btn-warning">Volver atras</a>
                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

<style>
    .card-header.bg-info {
        background: -webkit-linear-gradient(45deg, #012169 0%, #00709e 60%, #00c1d5 100%);
        background: linear-gradient(45deg, #012169 0%, #00709e 60%, #00c1d5 100%);
    }
</style>
