@using NetBanking.Core.Application.ViewModels.Users;
@model ResetPasswordViewModel;

<div class="container-fluid">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="card" style="background-color: white;">
                <div class="card-header bg-info text-center">
                    <h4 class="fw-bold">Restablecer contraseña</h4>
                </div>
                <div class="card-body shadow-sm">

                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>@Model.Error</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    }
                    <form method="post" asp-controller="User" asp-action="ResetPasswordAsync">
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Ingresa tu correo:</label>
                            <input asp-for="Email" type="email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Contraseña:</label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label">Confirmar contraseña:</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Token" />
                        <div class="mt-2">
                            <button asp-route-id="@Model.Token" type="submit" class="btn btn-primary float-end ms-2">Restablecer</button>
                            <a asp-controller="User" asp-action="Index" class="btn btn-warning float-end">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card-header.bg-info {
        background: -webkit-linear-gradient(45deg, #012169 0%, #00709e 60%, #00c1d5 100%);
        background: linear-gradient(45deg, #012169 0%, #00709e 60%, #00c1d5 100%);
        color: white;
    }
</style>
